@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using AspNetCoreHero.Boilerplate.Web.Areas.Catalog.Models
@model PatientViewModel
<form id="create-form" method="post" asp-controller="Patient" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Emri</label>
                <div class="col-md-9">
                    <input type="text" asp-for="Name" name="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Mbiemri</label>
                <div class="col-md-9">
                    <input type="text" as asp-for="Surname" name="Surname" class="form-control">
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Data e lindjes</label>
                <div class="col-md-9">
                    <input type="date" as asp-for="BornDate" name="DateOfIntervention" class="form-control" />
                    <span asp-validation-for="BornDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Seksi</label>
                <div class="col-md-9">
                    <select id="Gender" name="Gender" class="form-control">
                        <option value="M">M</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Emri Prindit</label>
                <div class="col-md-9">
                    <input type="text" as asp-for="ParentName" name="ParentName" class="form-control">
                    <span asp-validation-for="ParentName" class="text-danger"></span>
                </div>
            </div><div class="form-group row">
                <label class="col-md-3 col-form-label">Adresa</label>
                <div class="col-md-9">
                    <input type="text" as asp-for="Address" name="Address" class="form-control">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Phone Number</label>
                <div class="col-md-9">
                    <input type="number" asp-for="PhoneNo" name="PhoneNo" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Puna e tanishme</label>
                <div class="col-md-9">
                    <input type="text" as asp-for="Profession" name="Profession" class="form-control">
                    <span asp-validation-for="Profession" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Adresa</label>
                <div class="col-md-9">
                    <input type="text" as asp-for="JobAddress" name="JobAddress" class="form-control">
                    <span asp-validation-for="JobAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Profesioni</label>
                <div class="col-md-9">
                    <input type="text" as asp-for="JobAddress" name="JobAddress" class="form-control">
                    <span asp-validation-for="JobAddress" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="custom-file form-image">
                    <input accept=".png,.jpg,.jpeg,.gif,.tif"
                           asp-for="@Model.ProfilePicture"
                           type="file" class="custom-file-input"
                           onchange="document.getElementById('viewableImage').src = window.URL.createObjectURL(this.files[0])"
                           id="customFile">
                    <label class="custom-file-label" for="customFile">Choose Image</label>
                </div>
                @if (Model.ProfilePicture != null && Model.ProfilePicture.Length > 0)
                {
                    <img id="viewableImage" class="viewableImage" asp-for="@Model.ProfilePicture" style="width: 100%;object-fit: cover;padding-top: 10px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))" alt>
                    @*<button onclick="document.getElementById('achimage').src = null;" type="button" style="margin-top:10px" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Remove Image</button>*@
                }
                else
                {
                    <img id="viewableImage" class="viewableImage" style="width: 100%;object-fit: cover;padding-top:10px;" src="" alt>
                }
            </div>
        </div>
    </div>

    <div class="form-group justify-content-end" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success me-2">Save</button> 
        <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    
</script>