<div class="modal" tabindex="-1" role="dialog" data-backdrop="true" data-keyboard="true" id="form-modal" style="background-color:none">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document" style="background-color:none">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>
    $('#form-modal').modal({
        backdrop: true,  // Enable clicking outside to close
        keyboard: true   // Enable closing with Esc key
    });

</script>