@{
    ViewData["Title"] = localizer["Trajtimet e pacientit"];
}
@using Web.Areas.Catalog.Models
@model PatientTreatmentViewModel
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <a asp-area="Catalog" asp-controller="Patient" id="go-back" class="btn btn-dark text-white">
            <i class="fa fa-arrow-left"></i>
            Kthehu pas
        </a>
       <br />
       <br />
        @* @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Products.Create)).Result.Succeeded)
        { *@
            <a onclick="jQueryModalGet('/catalog/patientTreatment/OnGetCreateOrEdit?patientId=@Model.PatientId','Shto tratjtim te ri')" class="btn bg-success">
                <i class="fa fa-plus-square"></i> Shto nje trajtim te ri 
            </a>
        @* } *@

        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Reload
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@* @section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#treatmentsTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            $('#viewAll').load('/catalog/patientTreatment/LoadAll');
        }
    </script>
} *@
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#treatmentsTable").DataTable();
            loadData();

            $('#reload').on('click', function () {
                loadData();
            });
        });

        function loadData() {
            // Embed the ID from the Razor model into the URL
            var patientId = '@Model.PatientId'; // Assuming 'Id' is the property holding the required value
            $('#viewAll').load('/catalog/patientTreatment/LoadAll?patientId=' + patientId);
        }

    </script>
}
